name: Daily Site Check
on:
  schedule:
    - cron: '0 2 * * *'   # 2:00 AM UTC
    - cron: '0 8 * * *'   # 8:00 AM UTC
    - cron: '0 14 * * *'  # 2:00 PM UTC
    - cron: '0 20 * * *'  # 8:00 PM UTC
  workflow_dispatch: # Allows you to also run it manually with a button click

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm install
      - run: npx playwright install --with-deps
      - run: npx playwright test
